{% load static %}
<html>
       
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Merriweather" rel="stylesheet"> 
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'css/votaciones.css' %}">
     <!-- JAVASCRIPT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" language="Javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="{% static 'js/tabla.js' %}"></script>
    <title>Gestión de votaciones</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/votaciones/">Gestión de votaciones</a></h1>
    </div>
    {% block content %}{% endblock content %}
</body>
