{% extends 'votaciones/base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{evento.nombre}}</h2>
        </div>
    </div>
</div>



<div class="form-group pull-left col-xs-3">
    <input type="text" class="search form-control col-6" placeholder="Usuario a buscar">
</div>
<span class="counter pull-left col-xs-3"></span>
<div class="col-6">
<table class="table table-hover table-bordered results">
        <thead class="thead-dark">
    <tr>
      <th class="col-md-2 col-xs-2">DNI</th>
      <th class="col-md-3 col-xs-3">Nombre</th>
      <th class="col-md-3 col-xs-3">Apellido1</th>
      <th class="col-md-3 col-xs-3">Apellido2</th>
      <th class="col-md-1 col-xs-1">VER</th>
      
    </tr>
    <tr class="warning no-result">
      <td colspan="5"><i class="fa fa-warning"></i> No hay resultados</td>
    </tr>
  </thead>
  <tbody>
    {% for votante in votantes %}
    <tr>
        <td>{{votante.dni}}</td>
        <td>{{votante.nombre}}</td>
        <td>{{votante.apellido1}}</td>
        <td>{{votante.apellido2}}</td>
        <td><a href="/votaciones/usuario/{{votante.id}}/" class="btn btn-info" role="button">Detalle</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>


<!-- {% if lista_ult_eventos %}
    <ul>
    {% for evento in lista_ult_eventos %}
        <li><a href="/votaciones/{{evento.id }}/">{{ evento }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay eventos disponibles.</p>
{% endif %} -->

{% endblock %}