{% extends 'votaciones/base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{evento.nombre}}</h2>
        </div>
    </div>

    <div class="form-group pull-left col-xs-3">
        <input type="text" class="search form-control col-6" placeholder="Usuario a buscar">
    </div>
    <span class="counter pull-left col-xs-3"></span>
    
    <table class="table table-hover table-bordered results">
            <thead class="thead-dark">
        <tr>
        <th class="col-md-2 col-xs-2">DNI</th>
        <th class="col-md-3 col-xs-3">Nombre</th>
        <th class="col-md-3 col-xs-3">Apellido1</th>
        <th class="col-md-3 col-xs-3">Apellido2</th>
        <th class="col-md-1 col-xs-1">VER</th>
        
        </tr>
        <tr class="warning no-result">
        <td colspan="5"><i class="fa fa-warning"></i> No hay resultados</td>
        </tr>
    </thead>
    <tbody>
        {% for usuario in lista_usuarios %}
        <tr>
            <td>{{usuario.dni}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido1}}</td>
            <td>{{usuario.apellido2}}</td>
            <td><a href="/votaciones/usuario/{{usuario.id}}/" class="btn btn-info" role="button">Detalle</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <!-- EJEMPLO DE TABLA FILTRABLE -->
    <i class="fas fa-filter"></i>
    <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
                <div class="pull-right">
                    <button class="btn btn-info btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table table-hover table-bordered results">
                <thead class="thead-dark">
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Username" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>


</div>

{% endblock %}