{% extends 'votaciones/base.html' %}

{% block content %}

<div class="content container">
        <!-- <a class="btn btn-default pull-right" href="{% url 'usuario_edit' usuario_id=usuario.id %}"><span class="glyphicon glyphicon-pencil"></span></a> -->
        <div class="row">
            <div class="col-md-3 ">
                 <div class="list-group ">
                    
                  <a href="#" onclick="showonlyone('usuario-detalles');" class="list-group-item list-group-item-action active" data-toggle="list" >Información</a>
                  <a href="#" onclick="showonlyone('usuario-votaciones');" class="list-group-item list-group-item-action" data-toggle="list">Campañas</a>

                </div> 
            </div>
            <div class="col-md-9">
                <div class="ficha">
                    <div id = "usuario-detalles" class="card-body" style="display:block">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Perfil</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group row">
                                        <label for="id_dni" class="col-4 col-form-label">DNI</label> 
                                        <div class="col-8">
                                          <input disabled id="id_dni" name="dni" placeholder="dni" class="form-control here" type="text" value="{{usuario.dni}}">
                                        </div>
                                      </div>
                                  <div class="form-group row">
                                    <label for="id_nombre" class="col-4 col-form-label">Nombre</label> 
                                    <div class="col-8">
                                      <input disabled id="id_nombre" name="nombre" placeholder="Nombre" class="form-control here" type="text" value="{{usuario.nombre}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="id_apellido1" class="col-4 col-form-label">Apellido1</label> 
                                    <div class="col-8">
                                      <input disabled id="id_apellido1" name="apellido1" placeholder="Apellido1" class="form-control here" type="text" value="{{usuario.apellido1}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="id_apellido2" class="col-4 col-form-label">Apellido2</label> 
                                    <div class="col-8">
                                      <input disabled id="id_apellido2" name="apellido2" placeholder="Apellido1" class="form-control here" type="text" value="{{usuario.apellido2}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="text" class="col-4 col-form-label">Municipio</label> 
                                    <div class="col-8">
                                      <input disabled id="text" name="text" placeholder="Localidad" class="form-control here" type="text" value ="{{usuario.municipio}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="text" class="col-4 col-form-label">Domicilio</label> 
                                    <div class="col-8">
                                      <input disabled id="text" name="text" placeholder="Domicilio" class="form-control here" type="text" value ="{{usuario.domicilio}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="id_fecha_nac" class="col-4 col-form-label">Fecha Nacimiento</label> 
                                    <div class="col-8">
                                      <input disabled id="id_fecha_nac" name="text" placeholder="Domicilio" class="form-control here" type="date" value ="{{usuario.fecha_nac}}">                                    
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email</label> 
                                    <div class="col-8">
                                      <input disabled id="email" name="email" placeholder="Email" class="form-control here" type="text" value ="{{usuario.email}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="telefono" class="col-4 col-form-label">Teléfono</label> 
                                    <div class="col-8">
                                      <input disabled id="telefono" name="telefono" placeholder="telefono" class="form-control here" type="text" value ="{{usuario.telefono}}">
                                    </div>
                                  </div>
                                  <!-- <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Public Info</label> 
                                    <div class="col-8">
                                      <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                    </div>
                                  </div> -->
                                  <!-- <div class="form-group row">
                                    <label for="newpass" class="col-4 col-form-label">New Password</label> 
                                    <div class="col-8">
                                      <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                                    </div>
                                  </div>  -->
                                  <div class="form-group row">
                                    <div class="offset-4 col-8">
                                      <!-- <button name="submit" type="submit" class="btn btn-primary">Actualizar perfil</button> -->
                                      <a href="{% url 'usuario_edit' usuario_id=usuario.id %}" class="btn btn-primary" role="button" aria-pressed="true">Modificar perfil</a>
                                      
                                    </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>


<!-- CAPA PARA VISTA DE VOTACIONES  -->
                    <div id ="usuario-votaciones" class="card-body"  style="display:none">
                      <div class="row">
                          <div class="col-md-12">
                              <h4>Participación</h4>
                              <hr>
                              <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Fecha</th>
                                    <th>Nombre</th>
                                    <th>Categoría</th>
                                    <th>Participación</th>

                                  </tr>
                                </thead>
                                <tbody>
                                  {% for evento in lista_eventos %}
                                  <tr>
                                      <td>{{evento.fecha|date:"SHORT_DATE_FORMAT"}}</td>                                      
                                      <td>{{evento.nombre}}</td>
                                      <td>{{evento.get_categoria_display }}</td>
                                      <td>{% if evento in lista_votaciones_usuario %}
                                        <button type="button" class="btn btn-success">SÍ </button>
                                        {% else %}
                                        <button type="button" class="btn btn-danger">NO</button>
                                        {% endif %}
                                      </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>


{% endblock %}