.page-header {
    background-color: #f8341f;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

body{
    /* padding:20px 20px; */
  }
  
  .results tr[visible='false'],
  .no-result{
    display:none;
  }
  
  .results tr[visible='true']{
    display:table-row;
  }
  
  .counter{
    padding:8px; 
    color:#ccc;
  }

/* TABLA USUARIOS */

.filterable {
  margin-top: 15px;
}
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #ffffff;
}
.filterable .filters input[disabled]::-moz-placeholder {
  color: #ffffff;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
  color:  #ffffff;
}

/* tr:nth-child(even) {background: rgb(255, 255, 255)}
tr:nth-child(odd) {background: #c0c0c0} */

/* OCULTAR CAPAS EN USUARIO DETALLES */
/* .hidden {
  display:none;
} */